/* Font faces  */
@font-face {
  font-family: 'icon';
  src:url('../fonts/icomoon.eot?sh82to');
  src:url('../fonts/icomoon.eot?#iefixsh82to') format('embedded-opentype'),
    url('../fonts/icomoon.woff?sh82to') format('woff'),
    url('../fonts/icomoon.ttf?sh82to') format('truetype'),
    url('../fonts/icomoon.svg?sh82to#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}


/*Reset*/
body, html {
  margin: 0;
  padding: 0;
  background-color: #111;
}

*, *:before, *:after {
  box-sizing: border-box;
}

/* Shine */
.container {
  background: #111;
  background: -moz-linear-gradient(top, #111 0%, #555 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#111), color-stop(100%,#555));
  background: -webkit-linear-gradient(top, #111 0%,#555 100%);
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  -webkit-transition: left .2s;
  transition: left .2s;
}
.container.inactive {
  left: 50%;
  -webkit-transition: left .3s;
  transition: left .3s;
}

img {
  max-width: 100%;
}

.welcome {
  color: #ACACAC;
}

.logo:before {
  font-family: 'icon';
  content: "\e052";
  font-size: 250px;
  position: absolute;
  left: 0;
  top: 20%;
  right: 0;
  color: #dfdfdf;
  text-shadow: 0 0 15px #777;
  opacity: 0.7;
  -webkit-animation: glow 5s infinite;
  animation: glow 5s infinite;
}

.swipe_up, .swipe_down, .swipe_left {
  position: absolute;
  font-size: 14px;
  color: #dfdfdf;
  z-index: 700;
  content: " ";
  height: 30px; width: 30px;
}

.swipe_up { bottom: 5px; left: 45%; }
.swipe_left { right: 5px; top: 45%; }
.swipe_down { top: 5px; left: 45%;}

.swipe_up:after, .swipe_down:after, .swipe_left:after {
  font-family: 'icon';
  position: absolute;
  font-size: 30px;
  color: #dfdfdf;
  text-shadow: 0 0 5px #111;
}

.swipe_up:after {
  content: "\e056";
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
}

.swipe_down:after {
  content: "\e056";
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
}
.swipe_left:after { content: "\e057"; }

.track_list {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  width: 100%; height: 100%;
}

.track_list.next {
  right: -200%;
}

.track_list.prev {
  left: -200%;
}


.track {
  width: 100%;
  max-width: 80%;
  height: 80%;
  position: absolute;
  left: 10%;
  right: 10%;
  top: 10%;
  text-align: center;
  transition: top .2s;
}

.track.next {
  top: 200%;
  transition: top .2s;
}

.track.prev {
  top: -200%;
  transition: top .2s;
}

.menu_toggle {
  position: fixed; left: 10px; top: 10px;
  color: #dfdfdf;
  z-index: 500;
  transition: left .2s;
}

.menu_toggle.active {
  left: 52%;
  transition: left .2s;
}

.menu_toggle:after {
  font-family: 'icon';
  content: '\e120';
  font-size: 30px;
}

.menu {
  padding: 0;
  margin: 0;
  position: absolute;
  left: -100%;
  width: 50%;
  background: rgba(111, 111, 111, 0.8);
  bottom: 0;
  top: 0;
  z-index: 50;
  border-right: 1px solid #dfdfdf;
  transition: left .2s;
}

.menu.active {
  left: 0;
  transition: left .2s;
}

.menu a {
  color: white;
  text-decoration: none;
  padding: 25px 15px;
  display: block;
  font-size: 1.3rem;
  border-bottom: 1px solid #dcdcdc;
}

.menu a:focus {
  background-color: #444;
}





/*//////////  Animations*/

@-webkit-keyframes glow {
    from { text-shadow: 0 0 0; }
    40% { text-shadow: 0 0 15px; }
    to { text-shadow: 0 0 0; }
}

@keyframes glow {
    from { text-shadow: 0 0 0; }
    40% { text-shadow: 0 0 15px; }
    to { text-shadow: 0 0 0;; }
}
